---
title: Author Template
listed: false
published: true
content_type: authors
---
{% extends layouts/simple %}

{% block content/banner %}
  <header class="main-header author-head {% if author.cover %}" style="background-image: url({{ author.cover | resize: '1920x1200' }});background-position: center center;background-repeat: no-repeat;background-size: cover;){% else %}no-cover{% endif %}">
    <div class="overlay"></div>
    <section class="description">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
                <section class="author-profile inner">
                  {% if author.gravatar %}
                    <figure class="author-image">
                      <div class="img" style="background-image: url({{ author.gravatar | resize: '100x100' }});background-position: center center;background-repeat: no-repeat;background-size: cover;"><span class="hidden">{{ author.name }}'s Picture</span></div>
                    </figure>
                  {% endif %}
                  <h1 class="author-title">{{ author.name }}</h1>
                  {% if author.bio %}
                    <h2 class="author-bio">{{ author.bio }}</h2>
                  {% endif %}
                  <div class="author-meta">
                    {% if author.location %}<span class="author-location icon-location"><span class="text">{{ author.location }}</span></span><br />{% endif %}
                    {% if author.website %}<span class="author-link icon-link"><a href="{{ author.website }}">{{{author.website}}}</a></span><br />{% endif %}
                    {% if author.twitter %}<span class="author-link icon-link"><a href="{{ author.twitter }}">{{ author.twitter }}</a></span><br />{% endif %}
                  </div>
                </section>
              </div>
            </div>
          </div>
     </section>
  </header>
{% endblock %}

{% block content/main %}
    {% include 'loop' %}
{% endblock %}